* {
    text-align: center;
    color: rgb(87, 87, 155);
    font-family: cursive;
    background-color: aquamarine;
}

#btn {
    width:70px;
    height:35px;
    border-radius:20%;
    border-color: rgb(78, 223, 155);
    cursor: pointer;
}